.sidemenu {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #242424;
}

.filter-bar{
  border-radius: 100px;
  padding:5px;
  width:80%;
  margin:auto;
  border:none;
  outline:none;
}

.side-menu-tear{
  color:white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.his-url:hover{
  text-shadow: 2px 2px 6px #00c5db;
}

#body-content{
  width:99.5%;
  height:20vh;
  border:none;
  outline:none;
  scrollbar-width: none;
}

.menu-bottom {
  position: fixed;
  width: 20%;
  bottom: 0px;
  background-color: #363636;
  border-top: 1px solid #00c5db;
}

.menu-bottom button{
  padding:10px;
  font-size: 20px;
  width:50%;
  background:none;
  outline: none;
  border:none;
  color: #828282;
}
